nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  position: sticky;
  position: -webkit-sticky;
  max-height: 5rem;

  z-index: 1;
  top: 0;
  background-color: white;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
}

.nav_z_index {
  z-index: -1 !important;
}

.nav_toggle_btn {
  font-size: 1.5rem;
}

.nav_toggle_btn:hover {
  cursor: pointer;
}

.nav_profilesection {
  display: flex;
  align-items: center;
}

.nav_profile {
  height: 28px;
  width: 28px;
  background-color: rgb(238, 238, 238);
  color: gray;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
